:root {
  --light-bg: rgb(228, 235, 249);
  --six: #00000066;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: Octanis, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Header*/
header {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  width: 100vw;
  background-color: black;
}

.logo {
  margin: 1em;
  padding: 1em;
}

.logo > img {
  width: 20vw;
}

.nav-bar {
  margin: 1em;
  padding: 1em;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

li {
  margin: 0rem 2rem;
}

a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav-bar>a:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
  font-size: 1.55rem;
}

/* Main */

/* Home */
.home {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
}

.hero {
  margin: 5rem 1rem;
  padding: 2em;
  color: white;
  background-color: black;}

.title {
  text-align: center;
  margin: 5vh 0vh 15vh 0vh;
}

h1 {
  font-size: 5rem;
  margin: 10px auto;
}

h2 {
  margin: 0px auto;
  width: 40vw;
}

.to-upload {
  margin: auto;
  width: 30vw;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.to-upload > button {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 20px;
  background: rgb(184, 180, 180);
}

/* Upload */
.upload {
  /* background-image: url(./background-cn.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  border: 10px solid black;
}
#upimage{
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
}
#uppdf{
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
}
.upleft {
  width: 20vw;
  background-color: black;
  border: solid 2px grey ;
}

.upleft>form {
  color: white;
  display: flex;
  justify-content: space-between;
}

#imagestack {
  height: 87vh;
  background-color: black;
  padding: 10px;
}
#imagedisplay{
  margin: auto;
  /* display: flex; */
  width: 40vw;
  /* align-content: center; */
  height: 90vh;
  /* justify-content: center; */
}

.choose {
  padding: 1rem;
  margin: 0px;
  background-color: white;
}

.upmid {
  width: 40vw;
  background-color: white;
  border: solid 5px black;
}

.upright {
  width: 40vw;
  background-color: black;
  border: solid 10px white ;
}
.chatout
{
  height: 80vh;
  background-color:grey;
  border: black 5px solid;
}
.chatbox{
  display: flex;
  flex-direction: column;
  gap:5px;
  overflow: hidden;
}
.enter-text
{
  padding: 5px;
}

#userin{
  height: 40px;
  font-size: 17px;
  margin: auto;
}

#submit{
  height: 40px;
  width: 50px;
  margin: auto;
}

/* faq */
.faq {
  background-image: url(./assets/faq-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 5em;
  display: flex;
  flex-direction: column;
}
.faq>h2
{
  color: white;
  font-size: 2.7rem;
  text-align: center;
}
.drop
{
  width: 50vw;
  margin: 5rem auto;
}

details {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white;
}

summary {
  background-color: #f1f1f1;
  color: black;
  padding: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
}

details[open] summary {
  background-color: #ddd;
}

p {
  padding: 10px;
}


/*about*/
.about{
  background-color: white;
  height: 100vh;
  display: flex;
}
/* contact */
.contact{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}